.main .preview {
  margin: 17px 17px;
  padding: 0.5px 1.2px 2.9px 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-grow: 0;
    padding-top: 21px;
    margin: 0 40px 0 70px;
    height: 600px;
  }
}

.main .preview .image {
  width: 329.4px;
  height: 307px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
}

.main .preview .autor {
  background-color: $white;
  color: $greyish-brown;
  transform: translateY(-30px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 5px 25px 5px;
  @media screen and (min-width: 768px) {
    transform: translateY(-60px);
  }
}
.autor {
  width: 90%;
  margin: auto;
}

.info-project {
  width: 60%;
}

.main .subtitleCard {
  font-weight: 300;
}

.info-project .subtitleCard {
  text-align: center;
  font-family: $poppins;
}

.subtitleCard {
  color: $dark;
  line-height: 1.17;
  font-size: 8px;
  padding-top: 5px;
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
}
.containerLine {
  display: flex;
  padding-bottom: 15px;
  justify-content: flex-start;
  align-items: baseline;
}
.line {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: $line-card-gradient-left;
}
.line2 {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: $line-card-gradient;
}
.title {
  font-size: 14px;
  font-weight: bold;
  font-family: $catamaran;
  // padding-bottom: 3px;
  color: $black;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    text-align: left;
    line-height: 1.7;
    padding-bottom: 20px;
  }
}

.slogan {
  color: $greyish-brown-two;
  font-family: $poppins;
  font-weight: 500;
  font-size: 10.3px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    transform: translateY(-48px);
    margin-top: 20px;
  }
}

.desc {
  font-size: 8px;
  font-family: $poppins;
  line-height: 1.5;
  color: $greyish-brown-88;
  @media screen and (min-width: 768px) {
    font-size: 10px;
    transform: translateY(-40px);
  }
}

.technologies {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 18px;
  font-family: $catamaran;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}
.textTec {
  color: $greyish-brown;
  @media screen and (min-width: 768px) {
    text-align: center;
    background-color: $textTec-bgd;
    width: 100px;
    border-radius: 12px;
    font-size: 12px;
    padding: 8px 11px 8px 11px;
  }
}
.icons {
  padding-right: 12px;
  @media screen and (min-width: 768px) {
    padding-right: 10px;
    transform: translateY(-20px);
  }
}
.globe {
  margin-right: 5.3px;
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px $icon-border-card;
  background-color: $white-50;
  @media screen and (min-width: 768px) {
    margin-right: 4px;
    width: 20px;
  }
}

.github {
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px $icon-border-card;
  background-color: $white-50;
}
.info-autor {
  width: 40%;
  text-align: center;
  padding-top: 10px;
  @media screen and (min-width: 768px) {
    text-align: none;
  }
}

.imageCard {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-bottom: 3px;
  @media screen and (min-width: 768px) {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    margin-bottom: 10px;
  }
}

.job {
  color: $warm-grey;
  font-size: 8.8px;
  font-family: $catamaran;
  padding-bottom: 2px;
  @media screen and (min-width: 768px) {
    font-size: 11px;
  }
}

.name {
  font-size: 11.6px;
  font-family: $catamaran;
  font-weight: bold;
  color: $black-80;
  @media screen and (min-width: 768px) {
    font-size: 13.3px;
  }
}
