.form {
  background-color: #302c42;
  font-family: $montserrat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle at 50% 50%, $dusk, $Dark-form 89%);
  margin: 34px 34px;

  padding: 20px 15px;

  @media screen and (min-width: 768px) {
    margin: 200px 17px 77px 48px;
    padding: 35.4px 22px 21.1px 32px;
    flex-grow: 0;
    margin: 21px 0 17px 9px;
    padding: 35.4px 22px 21.1px 32px;
  }

  &__title {
    color: $white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $white;
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__info {
    font-size: 15px;
    font-weight: 300;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__subtitle {
    padding: 0 8px;
    margin-top: 20px;
    text-align: center;
    color: $white;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  &__line {
    width: 50%;
    border: 0;
    height: 1px;
    margin-bottom: 20px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
  &__lineNone {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.project,
.main .autor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.main .input,
.textarea {
  background-color: transparent;
  border: solid 2px $white;
  border-radius: 40px;
  height: 32px;
  color: $white;
  padding: 0 15px;
  font-family: $montserrat;
  font-size: 10px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    height: 40px;
    font-size: 14px;
  }
}
.main .input::placeholder,
.textarea::placeholder {
  color: $white;
}
.main .slogan-repo {
  display: flex;
}
.main .textarea {
  height: 83px;
  padding: 15px;
  @media screen and (min-width: 768px) {
    height: 105px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;

  &__btn {
    margin-top: 38px;
    color: $white;
    font-family: $montserrat;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: none;
    height: 32px;
    background-image: linear-gradient(to right, $dark-lilac -2%, #c0b7e8 98%);
    border-radius: 40px;
    padding: 0 18px;
    transition: all 0.2s;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      height: 42px;
    }
  }
  .buttons__btn:hover {
    transform: scale(1.1);
  }
  &__large {
    margin-top: 10px;
    border: solid 2px $white;
  }
}

.card {
  color: $white;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}
.card__url {
  color: rgb(199, 103, 191);
}
