body {
  min-height: 100vh;
  background-color: #0c192c;
}

.divStars {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;
  //z-index: -1;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  //animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

> .btnLanding {
  margin: auto;
}
.btnStart {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  letter-spacing: 4px;
  font-size: 18px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
}
.btnStart:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 1s;
}
.btnStart span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent #a945c7);
}
.btnstart:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent #a945c7);
}
.btnstart:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg, transparent #a945c7);
}
.btnstart:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: 100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent #a945c7);
}
.btnstart:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
