.repository {
  &__preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
  }
  &__imagen {
    width: 300px;

    .preview {
      margin: 0;
    }
  }
}
