//Fonts
$montserrat: 'Montserrat', sans-serif;
$catamaran: 'Catamaran', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

//Colors
$white-50: rgba(255, 255, 255, 0.5);
$black-80: rgba(0, 0, 0, 0.8);
$greyish-brown: #505050;
$greyish-brown-88: rgba(62, 62, 62, 0.88);
$dusk: #403a5f;
$greyish-brown-two: #575757;
$dark: #302c42;
$warm-grey: #909090;
$white: #fff;
$dark-lilac: #8176af;
$Dark-form: #211e2e;
$dark-light: #c0b7e8;
$black: black;
$icon-border-card: #bcd1d8;
$line-card-gradient: linear-gradient(
  to right,
  rgba(1, 1, 1, 0.75),
  rgba(255, 255, 255, 0)
);
$line-card-gradient-left: linear-gradient(
  to left,
  rgba(1, 1, 1, 0.75),
  rgba(255, 255, 255, 0)
);
$textTec-bgd: rgba(0, 0, 0, 0.05);
$bgd-image: linear-gradient(to bottom, #1d0024, #100014);
