@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__icon {
  display: flex;
  align-items: center;
}
.header__text {
  padding-left: 5px;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .header__text {
    font-size: 14px;
  }
}
.header__title {
  font-family: "Chakra Petch";
  font-size: 20px;
  line-height: normal;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 50px;
  }
}
.header__text2 {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .header__text2 {
    font-size: 18px;
  }
}
.header__button {
  background-color: #8176af;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  font-size: 10px;
  font-family: "Barlow", sans-serif;
  margin-right: 30px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__button {
    width: 154px;
    height: 29px;
    font-size: 15px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 35px;
  width: 200px;
}
.header__logo--nasa {
  width: 90px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .header__logo--nasa {
    width: 150px;
    border-radius: 50%;
  }
}
.header__container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fa-sharp {
  font-size: 23px;
  color: #fff;
}

.container {
  background-image: url("../../images/foto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
}
.form_container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.form {
  background: linear-gradient(164deg, rgb(48, 44, 66) 0%, rgba(136, 136, 210, 0.512) 180%);
  font-family: "Barlow", sans-serif;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.421);
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.form__subtitle {
  padding: 0 8px;
  margin-top: 20px;
  text-align: center;
  color: rgb(205, 197, 197);
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .form__subtitle {
    font-size: 15px;
  }
}
.form__line {
  border: 0;
  height: 1px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.form__lineNone {
  display: block;
}
@media screen and (min-width: 768px) {
  .form__lineNone {
    display: block;
  }
}

.autor_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input,
.textarea {
  background-color: transparent;
  border: solid 2px rgba(106, 118, 143, 0.643);
  border-radius: 5px;
  color: #fff;
  margin: 5px 0px;
  font-family: "Barlow", sans-serif;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .input,
  .textarea {
    font-size: 16px;
  }
}

.main .input::-moz-placeholder, .textarea::-moz-placeholder {
  color: rgba(223, 217, 224, 0.505);
  font-size: 10px;
}

.main .input::placeholder,
.textarea::placeholder {
  color: rgba(223, 217, 224, 0.505);
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .main .input::-moz-placeholder, .textarea::-moz-placeholder {
    font-size: 15px;
  }
  .main .input::placeholder,
  .textarea::placeholder {
    font-size: 15px;
  }
}

.main .slogan-repo {
  display: flex;
  width: 71%;
}

.main .textarea {
  height: 83px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons__btn {
  margin-top: 38px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  height: 32px;
  background-image: linear-gradient(to right, #8176af -2%, #696969 98%);
  border-radius: 15px;
  padding: 0 18px;
  cursor: pointer;
}
.buttons__btn:hover {
  background-image: linear-gradient(to right, #42211f -70%, rgba(211, 117, 110, 0.2980392157) 98%);
}
@media screen and (min-width: 768px) {
  .buttons__btn {
    font-size: 12px;
    height: 42px;
  }
}
.buttons__large {
  margin-top: 20px;
  margin-right: 15px;
  border: solid 1px #fff;
}

.card {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.main .preview {
  margin: 17px 17px;
  padding: 0.5px 1.2px 2.9px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main .preview {
    padding-top: 21px;
  }
}

.main .preview .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .preview .autor {
  background: linear-gradient(180deg, rgb(119, 126, 158) 20%, rgb(27, 35, 52) 120%);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.372);
  transform: translateY(-30px);
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 15px 5px 25px 5px;
}
.autor {
  width: 90%;
  margin: auto;
  max-width: 400px;
  min-width: 250px;
}
@media screen and (min-width: 768px) {
  .autor {
    max-width: 400px;
    min-width: 400px;
  }
}

.info-project {
  width: 90%;
}

.info-project .subtitleCard {
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.subtitleCard {
  color: #302c42;
  font-size: 10px;
  padding-top: 5px;
}
@media screen and (min-width: 768px) {
  .subtitleCard {
    font-size: 10px;
  }
}

.containerLine {
  display: flex;
  padding-bottom: 15px;
  justify-content: flex-start;
  align-items: baseline;
}

.line {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: linear-gradient(to left, rgba(1, 1, 1, 0.75), rgba(255, 255, 255, 0));
}

.line2 {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(1, 1, 1, 0.75), rgba(255, 255, 255, 0));
}

.title {
  font-size: 14px;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  color: rgb(202, 202, 202);
}
.slogan {
  color: rgb(186, 185, 185);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 10.3px;
  padding-bottom: 10px;
}
.desc {
  font-size: 8px;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  color: rgb(186, 185, 185);
  width: 80%;
}
.technologies {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 18px;
  font-family: "Barlow", sans-serif;
  align-items: center;
}
.textTec {
  color: rgb(174, 167, 167);
}
.icons {
  padding-right: 12px;
}
.globe {
  margin-right: 5.3px;
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #bcd1d8;
  background-color: rgba(255, 255, 255, 0.5);
}
.github {
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px #bcd1d8;
  background-color: rgba(255, 255, 255, 0.5);
}

.info-autor {
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.imageCard {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .imageCard {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.job {
  color: rgb(202, 191, 191);
  font-size: 10px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .job {
    font-size: 11px;
  }
}

.name {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: rgb(233, 221, 221);
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 13.3px;
  }
}

.info-autor__desc {
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .info-autor__desc {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 19px;
}
.footer__logo {
  width: 115px;
  height: 38px;
}
@media (min-width: 768px) {
  .footer__logo {
    height: 43px;
  }
}
.footer__copy {
  color: rgb(203, 197, 205);
  font-size: 14px;
  width: 210px;
  height: 20px;
  font-family: "Barlow", sans-serif;
}
.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
}
.modalContainer .modal {
  width: 30vw;
  height: auto;
  background-color: #d17d7d;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(145, 173, 213, 0.634);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.776);
}
.modalContainer .modal_header {
  position: relative;
  font-family: "Barlow", sans-serif;
}
.modalContainer .modal_header-title {
  text-align: center;
}
.modalContainer .modal_header .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
}
.modalContainer .modal_header .close img {
  width: 1rem;
  height: auto;
  transition: all 0.3s;
}
.modalContainer .modal_header .close:hover img {
  transform: scale(1.1);
}
.modalContainer .modal .buttons_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalContainer .modal .buttons_container .card_button {
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  background-color: antiquewhite;
  box-shadow: 0 0 1rem 0 rgba(51, 45, 81, 0.776);
}
.modalContainer .modal .buttons_container .card_button_url {
  text-decoration: none;
  color: black;
}
.modalContainer .modal .buttons_container .card_button:hover {
  background: linear-gradient(180deg, rgba(112, 139, 215, 0.4156862745), rgba(123, 45, 17, 0.6));
  color: rgba(190, 205, 234, 0.876);
}
.modalContainer .modal .buttons_container .card_button:active {
  animation: scale-down-center 0.4s;
}
@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.modalContainer .modal .buttons_container .project_button {
  font-family: "Barlow", sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
  box-shadow: 0 0 1rem 0 rgba(51, 45, 81, 0.776);
}
.modalContainer .modal .buttons_container .project_button:hover {
  background: linear-gradient(180deg, rgba(112, 139, 215, 0.4156862745), rgba(123, 45, 17, 0.6));
  color: rgba(190, 205, 234, 0.876);
}
.modalContainer .modal .buttons_container .project_button:active {
  animation: scale-down-center 0.4s;
}
@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.modalContainer .modal_content {
  padding: 2rem 0;
  text-align: center;
  font-weight: 600;
  color: #2c2a40;
}
.modalContainer .modal_footer {
  padding: 2rem 0;
  padding-bottom: 0;
}
.modalContainer .modal_footer button {
  float: right;
  padding: 0.5rem;
  border-radius: 8px;
}
.modalContainer .modal_footer .modal-close {
  background-color: transparent;
  font-weight: 600;
}
.modalContainer .modal_footer .modal-close:hover {
  color: rgba(54, 67, 72, 0.8);
}
.modalContainer .modal_footer .submit {
  margin-right: 1rem;
  background-color: #344146;
  color: #fff;
}
.modalContainer .modal_footer .submit:hover {
  background-color: rgba(54, 67, 72, 0.8);
}

.divLogo {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgLogo {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 85px;
}
@media screen and (min-width: 768px) {
  .imgLogo {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .imgLogo {
    width: 180px;
    height: 180px;
  }
}

.imgLogo:hover {
  filter: saturate(150%);
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.btnLanding {
  padding-top: 60px;
}

.btnStart {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .btnStart {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .btnStart {
    font-size: 20px;
  }
}

.btnStart:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

.btnStart span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent #a945c7);
}

.btnstart:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent #a945c7);
}

.btnstart:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent #a945c7);
}

.btnstart:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent #a945c7);
}

.btnstart:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.text__button {
  color: white;
  font-family: "narrow", sans-serif;
}

.headerLand {
  /* Estilos para el contenedor del headerLand */
}

.divIcon {
  /* Estilos para el contenedor de los iconos */
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .divIcon {
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .divIcon {
    /* media query del main flex-direction */
  }
}

.icon {
  width: 30px;
  height: 30px;
  z-index: 1;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.icon:hover {
  filter: saturate(180%);
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .icon {
    width: 45px;
    height: 45px;
  }
}

.iconTeam {
  padding-right: 10px;
}

.divTextLand {
  position: relative;
}
.divTextLand .textInfo,
.divTextLand .textTeam {
  color: white;
  background-color: rgba(138, 58, 170, 0.686);
  font-size: 11px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 768px) {
  .divTextLand .textInfo,
  .divTextLand .textTeam {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .divTextLand .textInfo,
  .divTextLand .textTeam {
    font-size: 14px;
  }
}
.divTextLand .textInfo.active,
.divTextLand .textTeam.active {
  opacity: 1;
  pointer-events: auto;
}

.textInfo {
  width: 220px;
  margin-left: 10px;
  font-family: "narrow", sans-serif;
}
@media screen and (min-width: 768px) {
  .textInfo {
    width: 280px;
    left: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .textInfo {
    left: 59%;
  }
}

.textTeam {
  width: 250px;
  margin-left: 15px;
  font-family: "narrow", sans-serif;
}
@media screen and (min-width: 768px) {
  .textTeam {
    left: 57%;
  }
}
@media screen and (min-width: 1024px) {
  .textTeam {
    width: 280px;
    left: 65%;
  }
}

/*

import '../styles/components/headerLand.scss';
import iconInfo from '../images/acerca-de.png';
import iconTeam from '../images/grupo.png';
function HeaderLand() {
  return (
    <>
      <div className='headerLand'>
        <div className='divIcon'>
          <img className='iconInfo icon' src={iconInfo} alt='info' />
          <img className='iconTeam icon' src={iconTeam} alt='team' />
        </div>
        <div className='divTextLand'>
          <p className='textInfo'>
            "En esta aplicación encontrarás una página donde se muestran
            proyectos alucinantes sobre diferentes temas. Si deseas dejar huella
            puedes subir tu propio proyecto clicando en (nombre del boton) que
            te dará paso a un formulario donde podrás rellenar tus datos y
            embarcarte en este viaje de distribución del saber"
          </p>
          <p className='textTeam'>
            "Somos un grupo de 5 mujeres programadoras fullstack dedicadas al
            desarrollo web.Creamos entornos de comunicacion para futuros
            programadores a través de nuestra plataforma donde comparten sus
            proyectos y se dan a conocer. Somos una ventana abierta a la
            tecnologia , el conocimiento y el futuro. Nuestra mision es apoyar
            el creciminto y potencial de cada desarrolldaor para que pueda
            compartir su legado con el mundo."
          </p>
        </div>
      </div>
    </>
  );
}
export default HeaderLand;



*/
.disabled {
  display: none;
}

.input__Previous,
.input__Next {
  border-radius: 10px;
  width: 100px;
  background-color: #939dcb;
  color: antiquewhite;
}
.pagination__text {
  font-family: "Barlow", sans-serif;
  color: antiquewhite;
  margin: 0 10px;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */