.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 19px;

  
  &__logo {
  width: 115px;
  height: 38px;

    @media (min-width: 768px) {
    height: 43px;
    }}

 &__copy {
  color: rgb(205, 197, 197);
  font-size: 14px;
  width: 210px;
  height: 20px;
}
  
  @media (min-width: 768px) {
   
  }
  
}
