.container {
  // background-color: #302c42;
  background-image: url("../../images/foto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //background: linear-gradient(180deg, #492694, #03010c);

}
.main {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
  }
}
.form_container {
  display:flex;
  flex-direction: column;
  //background-color: #392538;
  //margin:0 250px;
  @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
}
