.disabled {
  display: none;
}
.input__Previous,
.input__Next {
  border-radius: 10px;
  width: 100px;
  background-color: #939dcb;
  color: antiquewhite;
  cursor: pointer;
  @media screen and (min-width: 768px) {
  }
}

.pagination__text {
  font-family: 'Barlow', sans-serif;
  color: antiquewhite;
  margin: 0 10px;
  font-size: 12px;
}
