.repository {
  &__title {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
  }
  &__preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
  }
  &__imagen {
    .preview {
      margin: 0;
    }
    .slogan {
      font-size: 12px;
    }
    .title {
      font-size: 14px;
    }
    .desc {
      font-size: 13px;
    }
    .name{
      font-size: 15px;
    }
    .job{
      font-size: 14px;
    }
  }
  &__divLink {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: #8176af;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 17px;
    font-size: px;
    font-family: 'Barlow', sans-serif;
    @media screen and (min-width: 768px) {
      width: 154px;
      height: 29px;
      font-size: 15px;
    }
  }
}
