@import '../../web/src/styles/core/variables.scss';
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.div{
  background-image: url("foto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.icon {
  display: flex;
  align-items: center;
  }
.nasa {
  width: 150px;
  border-radius: 50%;
  }
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  }
.title1 {
  font-family: $ChakraPetch;
  // color:blue;
  font-size: 20px;
  line-height: normal;
  color: $white;
  @media screen and (min-width: 768px) {
   font-size: 50px;
   }
}

.preview {
  margin: 17px 17px;
  padding: 0.5px 1.2px 2.9px 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    padding-top: 21px;

  }
}

.preview .image {
  width:40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
    @media screen and (min-width: 768px) {

      }

}

.preview .autor {
  background: linear-gradient(180deg, rgb(119, 126, 158) 20%, rgba(27, 35, 52, 1) 120%);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.372);
  transform: translateY(-30px);
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 15px 5px 25px 5px;
  @media screen and (min-width: 768px) {
   
  }
}
.autor {
  width: 90%;
  margin: auto;
  max-width: 400px;
  min-width:250px;
  @media screen and (min-width: 768px) {

    max-width: 400px;
    min-width:400px;
  }
}


.info-project {
  width: 90%;
}


.info-project .subtitleCard {
  text-align: center;
  font-family: $barlow;
}

.subtitleCard {
  color: $dark;
  font-size: 10px;
   padding-top: 5px;
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
}
.containerLine {
  display: flex;
  padding-bottom: 15px;
  justify-content: flex-start;
  align-items: baseline;
}
.line {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: $line-card-gradient-left;
}
.line2 {
  width: 25px;
  margin: 0;
  height: 1px;
  background-image: $line-card-gradient;
}
.title {
  font-size: 14px;
  font-weight: bold;
      font-family: $barlow;
color: rgb(202, 202, 202);
  @media screen and (min-width: 768px) {
   
  }
}

.slogan {
  color: rgb(186, 185, 185);
    font-family: $barlow;
  font-weight: 500;
  font-size: 10.3px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
   
  }
}

.desc {
  font-size: 8px;
    font-family: $barlow;
  line-height: 1.5;
  color: rgb(186, 185, 185);
  width:80%;
  @media screen and (min-width: 768px) {
   
  }
}

.technologies {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 18px;
    font-family: $barlow;
    align-items: center;

  @media screen and (min-width: 768px) {
   
  }
}
.textTec {
  color: rgb(174, 167, 167);
  @media screen and (min-width: 768px) {
   
  }
}
.icons {
  padding-right: 12px;
  @media screen and (min-width: 768px) {
  
  }
}
.globe {
  margin-right: 5.3px;
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px $icon-border-card;
  background-color: $white-50;
  @media screen and (min-width: 768px) {
  }
}

.github {
  padding: 0 3px 0 3px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 2px $icon-border-card;
  background-color: $white-50;
}
.info-autor {
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 10px;

}

.imageCard {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-bottom: 3px;
  @media screen and (min-width: 768px) {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
  }
}

.job {
  color: rgb(202, 191, 191);
  font-size:10px;
    font-family: $barlow;
  padding-bottom: 2px;
  @media screen and (min-width: 768px) {
    font-size: 11px;
  }
}

.name {
  font-size: 15px;
    font-family: $barlow;
  font-weight: bold;
  color: rgb(233, 221, 221);
  @media screen and (min-width: 768px) {
    font-size: 13.3px;
  }
}
.info-autor__desc {
  padding-left: 15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        padding-left:30px;
      }
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 19px;
  margin-top: 70px;

}
.logo {
  width: 115px;
  height: 38px;
  @media (min-width: 768px) {
  height: 43px;
 }
}

.copy {
  // color:blue;
  color: rgb(203, 197, 205);
  font-size: 14px;
  width: 210px;
  height: 20px;
  font-family: $barlow;
}




